<div class="row">
    <div class="col-sm-5">
        {{form.produto|as_crispy_field}}
    </div>
    <div class="col-sm-3">
        {{form.data_validade|as_crispy_field}}
    </div>
    
    <div class="col-sm-2">
        {{form.ncm|as_crispy_field}}
    </div>
</div>
<div class="row" >
    <div class="col-sm-2">
        {{form.unidade|as_crispy_field}}
    </div>
    <div class="col-sm-2">
        {{form.quantidade|as_crispy_field}}
    </div>
    <div class="col-sm-2">             
        {{form.preco_unid|as_crispy_field}}
    </div>
    <div class="col-sm-2">    
        {{form.preco|as_crispy_field}}
    </div>
   
</div>