<form  method='POST' action='{% url "produto:observacao" %}'  data-endpoint='{% url "produto:observacao" %}'>
    {% csrf_token %}
    <input type="hidden"  name="item_id" value="{{ item.id }}"/>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Observação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                  <textarea type="textarea" name="item_obs" style="max-width: 15rem; max-height: 10rem;"></textarea>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Anotar Observação</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</form>
