{% load static %}

<div class="my-3 pt-5 text-muted text-center text-small">

    <ul class="list-inline">
        <li class="list-inline-item"><a href="{% url 'home:sobre' %}">Sobre</a></li>
        <li class="list-inline-item"><a href="#">Privacidade</a></li>
        <li class="list-inline-item"><a href="#">Termos</a></li>
        <li class="list-inline-item"><a href="{% url 'home:contato' %}">Contato</a></li>
    </ul>
     <p class="mb-1">&copy; {% now "Y" %} by Kinquilharias R C M</p>
</div>